.navbtn{
  height: 30px;

}
.dropdown-menu {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.baba{
 
  background-color: #d3d5d4;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
 
  
  list-style: none;
  border: solid;
  border-color: #d3d5d4;
  
}

.baba:hover {
  background-color: #35e2a6;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
}
.babapapa {
  /* background-color: #009688;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px; */
  transition: all 0.3s ease;
}

.navtext:hover {
  color:#35e2a6;
  text-shadow: 2px 4px .8px rgba(117, 114, 114, 0.2);
  font-size: 18px;
  font-weight: 50px;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
 
}