* {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.ulo {
  height: 80px;
  padding-top: 25px;
  z-index: 998;
  position: relative;
  z-index: 999; 
}

.navbtn {
  height: 30px;
}

.dropdown-menu {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.baba {
  background-color: #d3d5d4;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  list-style: none;
  border: solid;
  border-color: #d3d5d4;
}

.baba:hover {
  background-color: #35e2a6;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
}

.babapapa {
  transition: all 0.3s ease;
}

.navtext:hover,
.link-primary:hover {
  color: #35e2a6 !important;
  text-shadow: 2px 4px 0.8px rgba(117, 114, 114, 0.2);
  font-size: 24px;
  font-weight: 50px;
  /* transform: translateY(-10%) scale(1.5); */
  transition: all 0.3s ease-in-out;
  position: relative;
}

.navtext,
.link-primary {
  color: #425568 !important;
  text-decoration: none;
  font-size: 22px;
}

/* main card styles */
.card img {
  width: 150px;
}

.mama {

  /* transform: translateY(-30%) translateX(8%); */
  z-index: -99;
 


 

}

.deskript {
  min-width: 100%;
  height: 200px;
  margin-top: -100px;
  width: 100px;
}

#booknowmain {
  margin-top: -20px;
  margin-left: 220px;
}

.maincard img {

  height: 280px;
  width: 300px;
  border-radius: 30px;
  box-shadow: 15px 25px 15px rgba(39, 41, 40, 0.5);
}
.secondcards img{

  height: 220px;
  width: 260px;
  border-radius: 30px;
  box-shadow: 15px 25px 15px rgba(39, 41, 40, 0.5);
}

.thirdcards img{

  height: 180px;
  width: 200px;
  border-radius: 30px;
  box-shadow: 15px 25px 15px rgba(39, 41, 40, 0.5);

}
.maincard img:hover {
  transform: translateY(-20px);
  box-shadow: 15px 25px 15px rgba(157, 243, 200, 0.4);
  transition: all 0.3s ease-in-out;
  position: relative;
}
.left2{
  transform: translateX(40%) translateY(8%);

}
.left1 img{
  transform: translateX(80%) translateY(40%);
}

.right2 {
  transform: translateX(-40%) translateY(8%);
  z-index: 1;
}
.right1 img{
  transform: translateX(-80%) translateY(40%);
}

.maincard {
  z-index: 2;
}

.carousel-button {
  cursor: pointer;
  height: 50px;
  width: 50px;
  border: none;
 
}

.naol {
  border: none !important;
}

.darkblur {
  filter: brightness(70%) blur(1.5px);
}

.kanan {
  transform: translateY(320%) translateX(40%);
  z-index: 1;
}

.kaliwa {

 transform: translateY(320%) translateX(350%);
  z-index: 1;
}
.searchbutts{
  position: absolute;
  width: 5%;
  left: 50%;
  z-index: 999;

}
.opensesame{
  overflow: visible;
  transform: translateX(-20%);

}
.searchtab{
margin-top: -100px;
margin-bottom: 50px;
height: 100px;
z-index: 999;
overflow: visible;
}
.calendar-portal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.portal-datepicker {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}







/* second carousel */
.mamacar2 {
  height: 200px;
 
}
.searchtab2{
 
 
}

.booknow2 {
  margin-top: 180px;
}

.car2prev {
  transform: translateX(20%);
}

.car2next {
  transform: translateX(-300%);
  z-index: 2;
}

#booknow2ndcar {
  transform: scale(0.8);
  margin-top: -70px;
  margin-left: 45px;
}

.nexticon {
  background-color: rgba(163, 163, 167, 0.5);
  border-radius: 20px;
}

.descriptionscard2 {
  margin-left: 5px;
}

.text-body-secondary {
  position: absolute;
  transform: translateY(-500%) translateX(100%);
}

.ariba {
  width: 100%;
  display: grid;
}

.aribainner {
  border-style: none !important;
}

.maincard2 {
  overflow: visible;
  position: relative;
}

.maincard2 img {
  height: 180px;
  width: 190px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(39, 41, 40, 0.5);
}

.maincard2 img:hover {
  transform: translateY(-10px);
  box-shadow: 15px 5px 15px rgba(157, 243, 200, 0.5);
  transition: all 0.3s ease-in-out;
  position: relative;
  transform: scale(1.05);
}

/* for search component */
.navbtn {
  height: 30px;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  cursor: pointer;
  
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.input-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 0;
  overflow: hidden;
  transition: width 3s ease-in-out;
}

.show-input {
  width: auto;
  margin-left: 10px; /* Adjust as needed */
}

.input-form input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
}

#button-addon2 {
  border-radius: 0 10px 10px 0;
  padding: 5px;
}
.search-container {
  position: relative;
  z-index: 999; 
}






/* .input-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 0;
  overflow: hidden;
  transition: width 1s ease-in-out;
}

.input-form.show-input {
  width: 80%;
}

.input-form input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
}

#button-addon2 {
  border-radius: 0 10px 10px 0;
  padding: 5px;
}

#marimar {
  transform: translateX(-200%);
}

.kalendar {
  height: 10px;
  border: none;
}

.kalendars {
  height: 40px;
  border: none;
  cursor: pointer;
}

.mamasearch {
  margin-top: 0;
  height: 100px;
} */

/* left sidebar */
.sidebar {
  transform: translateX(10%);
}

/* for places to visit carousel */
.body3mama {
  margin-top: 650px;
  height: 900px !important;
}

.imahe {
  margin-left: 5px;
}

.imahe img {
  height: 150px;
  width: 230px;
}

.kanangcol,
.kaliwangcol {
  width: 50px;
  z-index: 1;
  transform: translateY(100%);
}

.kaliwangcol {
  transform: translateY(100%) translateX(400%);
}
