

.navbtn{
  height: 30px;

}
.dropdown-menu {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.baba{
 
  background-color: #d3d5d4;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
 
  
  list-style: none;
  border: solid;
  border-color: #d3d5d4;
  
}

.baba:hover {
  background-color: #35e2a6;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
}
.babapapa {
  /* background-color: #009688;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px; */
  transition: all 0.3s ease;
}

.navtext:hover {
  color:#35e2a6;
  text-shadow: 2px 4px .8px rgba(117, 114, 114, 0.2);
  font-size: 18px;
  font-weight: 50px;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
 
}
.link-primary {
  color: #425568 !important;
  text-decoration: none;
}
.link-primary:hover {
  color:#35e2a6 !important;
  text-shadow: 2px 4px .8px rgba(117, 114, 114, 0.2);
  font-size: 18px;
  font-weight: 50px;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
  position: relative;
}


/* main card styles */

.card img{
  width: 200px;
}

.mama {
  
  justify-content: end;
  margin-right: 200px;

}

.una img{
  margin-top: 60px;
  padding-right: -0px;
  width: 300px;
  height: 320px;
  border-radius: 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  
}
.dalawa img{
  margin-top: 150px;
  padding-right: -0px;
  border-radius: 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);

}
.tatlo img{
  margin-top: 60px;
  border-radius: 30px;
  width: 300px;
  height: 320px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);

}
.apat img{
  margin-top: 150px;
  border-radius: 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);

}
.maincard img{
 
  height: 350px;
  width: 350px;
  border-radius: 30px;
  box-shadow: 15px 25px 15px rgba(39, 41, 40, 0.5);
}

.maincard img:hover {
  transform: translateY(-20px);
  box-shadow: 15px 25px 15px rgba(157, 243, 200, 0.4);
  transition: all 0.3s ease-in-out;
  position: relative;
}




.una{
  transform: translateX(30%)
}
.dalawa{
  transform: translateX(80%)
}
.apat{
  transform: translateX(-80%);
}
.tatlo{
  transform: translateX(-30%);
  z-index: 1;

  
}
.maincard{
  z-index: 2;
}





.carousel-button {
  background-color:rgba(207, 246, 247, 0.5);
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-color: #969090;
  margin-top: 200px;
  
}

.carousel-button:hover {
  background-color:rgba(56, 215, 236, 0.3);
  color: #000;
  border-color: #000;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px rgba(32, 228, 146, 0.8);
}


/* .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.5s ease-out;
}

.card-container.previous {
  transform: translateX(-100%);
}

.card-container.next {
  transform: translateX(100%);
} */
.naol{
  border: none !important;
 
}

.una, .dalawa, .tatlo, .apat {
  filter: brightness(70%) blur(1.5px);
  
}
.kanan{
  transform: translateX(-300%);
}
.kaliwa{
  transform: translateX(300%);
  z-index: 1;
}
.deskript{
  width: 100px;
}


/* second carousel */
.maincard2 {
  overflow: visible;
  position: relative;
  perspective: 1000px;
}

.maincard2 img{
 
 
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(39, 41, 40, 0.5);
}

.maincard2 img:hover {
  transform: translateY(-10px);
  box-shadow: 5px 5px 10px rgba(157, 243, 200, 0.4);
  transition: all 0.3s ease-in-out;
  position: relative;
  transform: scale(1.05);


}

/* for search component */





.input-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 0;
  overflow: hidden;
  transition: width 1s ease-in-out;

}

.input-form.show-input {
  width: 80%;
  /* transform: translateX(10%); */
}

.input-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
 
}
#button-addon2{
  border-radius: 0 10px 10px 0;
  padding: 10px;
  
}

#marimar{
  transform: translateX(-200%);

}
.kalendar{
  height: 20px;
  border: none;

 
}
.kalendars{
  height: 50px;
  border: none;
cursor: pointer;
 
}